	<div class="container-fluid">
		<div class="jumbotron">
			<h1>Document Paths</h1>
			<a href="/xpathgraph" class="btn btn-success">What are these?</a>
			<a href="index.html" class="btn btn-info" >Home</a>
		</div>
		<div class="row">
			<div class="col-md-2">
				<!--Sidebar content-->
                        <form action="/filter" enctype="multipart/form-data" method="post">
				<ul class="list-group">
					<li class="list-group-item" >
            <h3>Source: </h3><p>{{sources[0].source}}</p>
            <h3>Target: </h3><p>{{sources[1].source}}</p>
                                                <input type="hidden" class="form-control" name="doc"
                                                       id="document" value="{{modeIn}}/{{doc}}">
                                        </li>
					<li class="list-group-item"  >
						<h3 >Extract</h3>
						<p>{{extract}}</p>
                                                <input type="hidden" class="form-control" name="extract"
                                                       id="extr" value="{{extract}}">
					</li>
					<li class="list-group-item"  >
						<h3 >Mode</h3>
						<p>{{mode}}</p>
					</li>
					<li class="list-group-item"  >
						<h3 >Number of Paths</h3>
						<p>{{numpaths}}</p>
					</li>
					<li class="list-group-item"  >
						<h3 >Max Depth</h3>
						<p>{{maxdepth}}</p>
					</li>
					<li class="list-group-item"  >
						<h3 >Min Depth</h3>
						<p>{{mindepth}}</p>
					</li>
					<li class="list-group-item"  >
						<h3 >Average Depth</h3>
						<p>{{avgdepth}}</p>
					</li>
					<li class="list-group-item"  >
						<h3 >Filter Nodes</h3>
						<!-- switch this off for Single docs - but mode has been lost? -->
						<div class="checkbox" ng-if="mode != 'SINGLE'">
							<label> <input type="checkbox" name="XPathChanges">XPath Changes Only</label>
						</div>
						<ul class="list-group">
						  <li class="list-group-item" ng-repeat="f in filters">
						    <input type="radio" ng-click="forgetMe($index)"/> {{f.name}}({{f.id}})
						  </li>
						</ul>
                                                <input type="hidden" class="form-control" name="filters"
                                                    id="extr" value="{{filterString}}">
                                                <input type="submit" name="filter" value="Submit "class="btn btn-success">
					</li>
				</ul>
			</form>
			</div>
			<div id="svgDiv"  class="col-md-6">
			  <div ng-include="svgDoc"></div>
			</div>
		</div>
	</div>
