	<div class="container-fluid">
		<div class="jumbotron">
			<h1>Namespace Gauges Progress</h1>
			<a href="/namespaces" class="btn btn-success" >What are these?</a>
			<a href="index.html" class="btn btn-info" >Home</a>
		</div>
		<div class="row">
			<div class="col-md-2">
				<!--Sidebar content-->
				<ul class="list-group">
					<li class="list-group-item" >					
						<h3>
							Document(s)
						</h3>
						<p ng-repeat="src in sources">
							{{src.docname}}
						</p>
					</li>
					<li class="list-group-item"  >
						<h3 >Extract</h3>
						<p>{{extract}}</p>
					</li>
					<li class="list-group-item"  >
						<h3 >Mode</h3>
						<p>{{mode}}</p>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
                                <h2>Progress Graph</h2>
				<div id="chart"></div>
			</div>
		</div>
	</div>
