extends helplayout

block content
    div.jumbotron
        h1=title
    .col-md-6
        h2 From the home page
        ul.list-group
            li.list-group-item 
                h2 Process New File(s)
                p Click on the "Select and Set Options" button
            li.list-group-item 
                h2 View A Report 
                p Click on the desired button
            li.list-group-item 
                h2 Get Help
                p Look for the green button at the to left of the current page
