extends helplayout

block content
	div.jumbotron
		h1=title
	.col-md-6
		ul.list-group
			li.list-group-item
				h2 To Be Developed	
			li.list-group-item
				p delete runs and whole document level 
			li.list-group-item.list-group-item-warning
				p 
					span(class="glyphicon glyphicon-question-sign")
					| auto detect if dot missing
			li.list-group-item.list-group-item-info
				p 
					span(class="glyphicon glyphicon-question-sign")
					| include the odf manifest 
			
			li.list-group-item
				h2 Issues
			li.list-group-item
				p expanding table jumps around
