extends helplayout

block content
  div.jumbotron
    h1=title
  .col-md-6
        h1 This page contains
        ul.list-group
          li.list-group-item 
            h2 Filter
            p Enter text into the key field and the list will dynamically update.
          li.list-group-item 
            h2 Extract Runs
            p A table of the runs comparsions performed
            h3 Columns
            p 
              u Extract
              |  is the date and time of the run. 
              | The format is CCYY_MM_DD_HHMMSS_mmm - (mmm was needed to distinguish test runs)
            p 
              u Created
              |  is the creation date of the document.
            p 
              u Segment
              |  refers to the document segment selected when the run was submitted.
            p 
              u Note
              |  The name of the target document or an error message from the run is appended the comment submitted in the process document page.
            p 
              b Tip: 
              em Use the comment on the "Process a Document" page to add additional information
            p An extract run analyses the number of XPaths found in the comparison, 
              u #Paths, Min Depth, Max Depth, and Avg Depth
              |  provide summary statistics on the documents. Probably less relevant for comparsions.
